#searchItem
{
	margin-bottom: 10px;
}

.results_div
{
	width: 680px;
	float: right;
	margin-top: 10px;
}

.product_div
{
	border: 1px solid;
	padding-bottom: 0px;
	padding-left: 4px;
	margin-bottom: 10px;
}

.img_div
{
	display: inline-block;
	padding-left: 20px;
	width: 100px;
	height: 80px;
}

.search_form p
{
	margin: 10px 0 0 0;
}

#searchBox
{
	margin-bottom: 10px;
}

.searchResults
{
	width: 500px;
	display: inline-block;
	margin: 4px 0 4px 0;
}

.dropdown
{
	padding-top: 10px;
	padding-bottom: 10px;
}