body
{
	background-color: #EEEEEE;
	font-family: Helvetica, Arial;
}

#header li a
{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 6px 18px;
}

.active
{
	background-color: #6699ff;
}

#header ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

#header li
{
	float: left;
}

#header li a:hover
{
    background-color: #111;
}

h1, h2, h3
{
	margin: 0;
}

#container
{
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	background-color: #6699ff;
	color: white;
	text-align: center;
}

#content
{
	padding: 10px;
}

#categorylisting
{
	width: 180px;
	float: left;
}

#categorylisting ul
{
	list-style-type: none;
	padding: 0;
}

#main
{
	width: 600px;
	float: right;
}

#footer
{
	clear: both;
	padding: 7px;
	background-color: #999999;
	color: white;
	text-align: right;
}

.catlistitem {
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 8px;
	z-index: 5000;
}
